:2080 {
	handle /version.json {
		header Cache-Control "no-cache"
		root * ./tasks
		file_server
	}
	handle /config.yaml {
		header Cache-Control "no-cache"
		root * ./tasks
		file_server
	}
	handle_path /tasks/* {
		@secrets path_regexp secrets /state_secrets\.json$
		respond @secrets 403

		header Cache-Control "no-cache"
		root * ./tasks
		file_server browse
	}
	handle {
		header Cache-Control "no-cache"
		root * ./dashboard
		file_server
	}
}
